h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    padding: 20px;
  }
  
  .markdown-container {
    display: flex;
    width: 100%;
    flex-grow: 1; 
  }
  
  
  .left,
  .preview {
    width: 50%;
    height: 100vh; 
    padding: 20px;
    box-sizing: border-box;
  }
  
  .left {
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
  }
  
  .preview {
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
    border-radius: 0 5px 5px 0;
    font-weight: bold;
    font-size: 14px;
  }
  .markdown-input{
    width: 100%;
    height: 100vh; 
    padding: 0px;
    border: none; 
    resize: none; 
    font-size: 16px; 
    padding: 10px;
  }
  
 